.main-content {
  flex: 1;
}

/* GRID */

.disciplinas-grid {
  display: grid;

  grid-template-columns:
    repeat(
      auto-fill,
      minmax(320px, 1fr)
    );

  gap: 18px;
}

/* CARD */

.disciplina-card {
  min-height: 220px;

  border-radius: 22px;

  border: 1px solid rgba(65,223,255,0.5);

  background: white;

  padding: 22px;

  transition: 0.2s;
}

.disciplina-card:hover {
  transform: translateY(-2px);

  box-shadow:
    0 6px 18px rgba(0,0,0,0.05);
}

/* TOP */

.disciplina-card h3 {
  color: var(--secondary);

  font-size: 22px;

  margin-bottom: 10px;
}

.disciplina-desc {
  color: #888;

  font-size: 13px;

  line-height: 1.5;

  margin-bottom: 20px;
}

/* INFO */

.disciplina-info {
  display: flex;

  gap: 14px;

  margin-bottom: 20px;
}

.info-pill {
  height: 34px;

  padding: 0 16px;

  border-radius: 999px;

  background:
    rgba(65,223,255,0.12);

  color: var(--secondary);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-weight: bold;
}

/* TURMAS */

.turmas-list {
  display: flex;

  flex-wrap: wrap;

  gap: 10px;
}

.turma-pill {
  height: 34px;

  padding: 0 14px;

  border-radius: 12px;

  background:
    linear-gradient(
      90deg,
      #1dcfff 0%,
      #1749e4 100%
    );

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-weight: bold;
}